#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Page titles styling */
/* h1 {
  margin: 2rem auto 1rem auto;
  padding-top: 2rem;
  color: #333;
  font-size: 2rem;
  font-weight: 600;
} */


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

